# Project
oris-cache/

# Python
__pycache__/
.mypy_cache/

# LaTeX
*.pdf
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ind
*.lof
*.log
*.lot
*.nav
*.out
*.snm
*.synctex.g
*.synctex.gz(busy)
*.synctex(busy)
*.toc
